@import '../templates.scss';
.banner{
    @include flex(column, center, center);
    padding: 50px 0;
    .banner_content{
        @include flex(column, center, center);
        h1{@include font(60px, 'Arial', 700, none, white); text-align: center; margin: 30px 10px;}
        p{@include font(24px, 'Arial', 400, none, white); text-align: center; margin: 20px 10px;}
        .banner_content_buttons{
            margin: 30px 10px;
            @include flex(row, center, center);
            button{
                width: 140px;
                height: 52px;
                background-color: transparent;
                border: 1px solid white;
                @include font(18px, 'Arial', 400, none, white);
                z-index: 70;
                margin: 10px;
                &.blue{background-color: rgb(50, 50, 255); border: none;}
            }
        }
    }
    .banner_media{
        width: 100%;
        img{width: 100%;height: auto;}
    }
}