.opentype{
    margin: 30px auto;
    border-radius: 20px;
    background-color: #343434;
    @include flex(row, center, space-between);
    overflow: hidden;
    .opentype_content{
        h1{@include font(60px, 'Arial', 700, none, white); margin: 30px 10px;}
        button{
            width: 140px;
            height: 52px;
            background-color: transparent;
            border: 1px solid white;
            @include font(18px, 'Arial', 400, none, white);
            z-index: 70;
            margin: 10px;
            &.blue{background-color: rgb(50, 50, 255); border: none;}
        }
    }
    .opentype_media{
        height: 100%;
        padding: 0;
        img{
            margin: 0;
            @include position(relative, 4px, 4px, auto, auto, 1);
        }
    }
    @media(max-width: 1100px){
        @include flex(column, center, center);
        .opentype_content{
            @include flex(column, center, center);
        }
    }
}